	<div class="console wrapper">
		<div class="console_title post_title" id="oops1">
		<img src="/assets/img/icos/cmd.png">
		<h1 id="oops0">C:\WINDOWS\system42\cmd.exe</h1> <h1 id="oops2"></h1>
		<a href="#" onclick="oopsF()"><div class="btn"><span class="fa fa-times"></span></div></a>
		</div>
	
		<div class="console_body">

		<span>C:\WINDOWS\system42>run CoolStory.exe</span><br>
		<span>...</span><br>
		<span>.....</span><br>
		<span>.......100%</span><br>
		<span>Done! Starting CoolStory...</span><br>
		<span>something goes wrong </span><br>
		<span>0xc185</span><br>
		<span>  </span><br>
		<span>  </span><br>
		

		<span id="runline">			
		{% for pair in site.data.json %}
		{% if pair.typed -%}
			{% for value in pair.value -%}
			<span>{{ value }}</span>
			{%- endfor %}		
		</span>
			{{ quote_key }}<span class="key">{{ pair.key }}</span>{{ quote_key }}
			{{ quote_value }}<span class="value"><span id="typed">.|\.</span></span>{{ quote_value }}
		{%- endif -%}
		{% endfor %}

		</div>
		
	
	</div>
	
	<script>
		function oopsF() {
		document.getElementById("oops0").remove();
		document.getElementById('oops1').style.cssText = 'background-color: gray; color: white;';
		document.getElementById('oops2').innerHTML = 'не отвечает...';
}
	</script>
	
	<script>
		var typed = new Typed("#typed", {
		  stringsElement: "#runline",
		  backSpeed: 10,
		  typeSpeed: 30,
		  backDelay: 1000,
		  loop: true,
		  smartBackspace: true,
		});
	</script>