---
layout: default
---
<ul>
	{% if page.tag == 'programms' %}
	{% for post in site.tags[page.tag] %}
	
	
			<li><a href="/assets/files/{{ post.title }}" title="{{ post.title }}"><img src="/assets/img/{{ post.title }}.png" title="{{ post.title }}" />{{ post.title }}</a></li>
			
			
	{% endfor %}		
	{% elsif page.tag == 'mems' %}
		{% for post in site.tags[page.tag] reversed  %}
			<li><a href="{{  post.url }}" title="{{ post.title }}"><img src="/assets/img/imgicon.png" title="{{ post.title }}" />{{ post.title }}</a></li>
		{% endfor %}
	{% else %}
	
		{% for post in site.tags[page.tag] reversed  %}
			<li><a href="{{  post.url }}" title="{{ post.title }}"><img src="/assets/img/file.ico" title="{{ post.title }}" />{{ post.title }}</a></li>
		{% endfor %}
	
	{% endif %}
</ul>