---
layout: default
---
<ul>
	{% if page.tag == 'programms' %}
	{% for post in site.tags[page.tag] %}
	
	
			<li><a href="/assets/files/{{ post.title }}" title="{{ post.title }}"><img src="/assets/img/{{ post.title }}.png" title="{{ post.title }}" />{{ post.title }}</a></li>
			
			
	{% endfor %}		
	{% elsif page.tag == '123' %}
		<a>вставляем иконки под 123</a>

	{% else %}
	
		{% for post in site.tags[page.tag] %}
			<li><a href="{{  post.url }}" title="{{ post.title }}"><img src="/assets/img/file.ico" title="{{ post.title }}" />{{ post.title }}</a></li>
		{% endfor %}
	
	{% endif %}
</ul>